$navBackground:transparent;
$navTogBackground:#2FA3F1;
$backgroundImageHeight:758px;
$maxWidth:1100px;
$newsTopWidth:20em;
$newsTopHeight:8em;
$cellHeight:4em;
$bountyActiveWidth:11em;
$bountyActiveHeight:14em;