@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200&display=swap');

@include media-breakpoint-up(lg){
    #explorer{
        #banner{
            #search{
                #searchInput{
                    width:30em;
                }
            }
        }
        #blockInfo{
            justify-content: space-around;
            align-items: center;
            .bloInfo{
                .blockNum{}
            }
        }
        #chart{
            padding:2em 2em 2em 2em;
        }
        #topBloSession{
            justify-content: space-between;
        }
    }
    #block{
        #blockDetail{
            margin:0 3em 2em 3em;
            #timeSize{
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: auto auto;
            }
            .rowGrid{
                display:grid;
                grid-template-rows: auto;
                grid-template-columns: 1fr 4fr;
            }
        }
    }
}
@include media-breakpoint-down(md){
    #explorer{
        #banner{
            #search{
                #searchInput{
                    width:20em;
                }
            }
        }
        #chart{
            padding:2em 2em 2em 2em;
        }
    }
    #block{
        #blockDetail{
            margin:0 3em 2em 3em;
            #timeSize{
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: auto auto;
            }
            .rowGrid{
                display:grid;
                grid-template-rows: auto;
                grid-template-columns: 1fr 4fr;
            }
        }
    }
    #topBloSession{
        .topBlocks{
            margin-right:1em;
        }
    }
}
@include media-breakpoint-down(sm){
    #explorer{
        #banner{
            #search{
                #searchInput{
                    width:17em;
                }
            }
        }
        #blockInfo{
            justify-content: flex-start;
            align-items: center;
            .bloInfo{
                margin-bottom: 1em;
                .blockNum{}
            }
        }
        #chart{
            padding:2em 1em 2em 1em;
        }
        #topBloSession{
            justify-content: center;
            .topBlocks{min-width:8em}
        }
    }
    #block{
       // border:2px solid red;
        #blockDetail{
            margin:0 1em 2em 1em;
            #timeSize{
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: auto;
            }
            .rowGrid{
                display:grid;
                grid-template-rows: auto auto;
                grid-template-columns:auto;
                //border:2px solid black;
                .gridText{
                    word-wrap:break-word;
                    //border:2px solid green
                }
            }
            #table{
                //border:2px solid black;
                overflow-x: auto;
                table{
                    //min-width:17em;
                }
            }
        }
    }
}
@include media-breakpoint-down(xs){
    #explorer{
        #banner{
            #search{
                #searchInput{
                    width:10em;
                }
            }
        }
    }
}
#explorer{
    //padding-top:4em;
    //border:2px solid black;
    background-color: #f4f4f4;
    #banner{
        padding-top:4em;
        height:23em;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
        background-image:linear-gradient(0deg,#2c92a5 0,#37b6d3);
        #explorerText{
            margin:0 1em 2em 1em;
            font-family: "Source Sans Pro","Helvetica Neue", "Arial", sans-serif;
            font-size:2em;
            font-weight:300;
            text-align: center;
            //border:2px solid black;
        }
        #search{
            //max-width:33em;
            //width:100%;
            display:grid;
            grid-template-rows: auto;
            grid-template-columns: auto auto;
            //background-color:white;
            //margin:0 5em 0 5em;
            //border:2px solid black;
            #searchInput{
                //height:3em;
                color:#495057;
                border:none;
                padding:0.5em 1em 0.5em 1em;
                //width:100%;
                //display:block;
                //max-width:30em;
                &::placeholder{
                    color:#e5e4e4;
                    font-size:0.8em; 
                }
            }
            #searchBut{
                //height:3em;
                //display:inline-block;
                padding:0.5em 1em 0.5em 1em;
                background-color: white;
                border:none;
                width:100%;
                display:block;
                border-left:1px solid #32a4be;
                color:#32a4be;
            }
        }
    }
    #blockInfo{
        display:flex;
        flex-wrap:wrap;
        color:#595757;
        margin:2em 1em 0em 1em;
        //border:2px solid black;
        .bloInfo{
            font-size:1.5em;
            margin-right:3em;
            .blockNum{
                padding:0;
                font-size:2em;
                font-family: "Source Sans Pro","Helvetica Neue", "Arial", sans-serif;
                color:#595757;
                //border:2px solid black;
            }
        }
    }
    #chart{
        //width:30em;
        //height:10em;
        //border:2px solid black;
        #barChart{
            //box-sizing: border-box;
            width:100%;
            height:6em;
            //border:2px solid orange;
            //border:2px solid blue;
            .bar{
                padding-right:5px;
                //stroke-width:1;
                //stroke:red;
            }
        }
    }
    #topBloSession{
        margin:0 2em 2em 2em;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        //border:2px solid purple;
        .topBlocks{
            width:18em;
            margin-top:1em;
            color:rgba(89,87,87,1);
            font-size:bold;
            //border:2px solid purple;
            padding:0.8em;
            //margin-left:2em;
            //margin-right:2em;
            //padding:0.5em;
            background-color: white;
            .topBlock{
                display:grid;
                grid-template-rows: auto auto;
                grid-template-columns: auto auto;
                grid-template-areas: 
                    'blockName txns'
                    'bytes interval';
                padding-top:0.5em;
                margin-top:0.3em;
                //padding-bottom:0.3em;
                //border:2px solid purple;
                border-top:1px solid #e5e4e4;
                .blockName{
                    grid-area:blockName;
                    font-size:1.2em;
                    color:rgb(50, 164, 190);
                    //border:2px solid black;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .interval{
                    grid-area: interval;
                    font-size:0.8em;
                    text-align: right;
                    color:#AFACAC
                    //border:2px solid black;
                }
                .txns{
                    grid-area: txns;
                    font-size:0.8em;
                    text-align: right;
                    color:#AFACAC;
                }
                .bytes{
                    grid-area: bytes;
                    font-size:0.8em;
                    color:#AFACAC;
                }
            }
        }
    }
}
#block{
    padding-top:4em;
    background-color:#fafafa;
    #blockDetail{
        background-color:#fafafa;
        //border:2px solid black;
        #title{
            color:#595757;
            font-size:1.3em;
        }
        #blHeight{
            font-weight: bold;
            color:#32A4BE;
            font-size:1.3em;
            margin-top:0.6em;
            margin-bottom:0.5em;
        }
        #timeSize{
            padding-top:0.5em;
            padding-bottom:0.5em;
            //border:2px solid black;
            background-color: #ffffff;
            #time{
                border-right:4px solid #fafafa;
            }
            div{
                color:#AFACAC;
                line-height: 3em;
                padding-left:1em;
                //border:2px solid navy;
                span{
                    color:#00AE1D;
                }
            }
        }
        .rowGrid{
            width:100%;
            margin-top: 0.3em;
            padding:1em 0.5em 1em 0.5em;
            background-color: #ffffff;
            .gridTitle{
                color: #595757;
            }
            .gridText{
                word-wrap:break-word;
                word-break: break-all;
                color:#AFACAC;
            }
            div{
                font-size:0.8em;
                //border:2px solid black;
            }
        }
        #table{
            margin-top:1em;
            padding:1em 0.5em 1em 0.5em;
            background-color: #ffffff;
            //border:2px solid black;
            #tTitle{
                color:#AFACAC;
                span{
                    color:#595757;
                }
            }
            table{
                width:100%;
                margin-top:1em;
                //border:2px solid green;
                thead{
                    color:#AFACAC;
                    font-weight: bold;
                    tr{
                        border-bottom:4px solid #fafafa;
                    }
                }
                tbody{
                    tr{
                        border-bottom:2px solid #fafafa;
                        td{
                            padding-top:0.5em;
                            padding-bottom:0.5em;
                            font-size:0.8em;
                        }
                        td:nth-child(1){color:#32A4BE}
                        td:nth-child(2){color:#00AE1D}
                    }
                }
            }
        }
    }
}