@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
$textHover:rgba(255,255,255,0.8);
@include media-breakpoint-up(lg) {
    #navLinks{
        position: absolute;
        height:2.5em;
        right:0;
        .mr-auto{
            display:flex;
            align-items: center;
        }
        .dropdown{
            align-items: center;
            border:2px solid transparent;
            &:hover>.dropMenu{display:block}
            &:hover>.dropText{color:rgba(255,255,255,0.8)}
            &:hover .navIcon{
                transform:rotate(-180deg);
                transition:all 0.5s;
            }
            .dropText{
                user-select: none;
                border:none;
                background-color: $navBackground;
                &:active,&:focus{box-shadow:none}
                &:active+.dropMenu{display:none}
                &:focus+.dropMenu{display:none}
            }
            .navIcon{
                display: inline-block;
                margin-left:10px;
                transition:all 0.1s;
            }
            .dropMenu{
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                background-color: rgba(0,0,0,0.6);
                .item{
                    color:white;
                    font-size: 0.8em;
                    &:hover{
                        color:rgba(255,255,255,0.8);
                        background-color: $navBackground;
                    }
                }
            }
        }
        #langDrop{
            box-sizing: border-box;
            padding-top:0px;
            border:none;
            /*&:target #langIcon{
                transform:rotate(-180deg);
                transition:all 0.5s;
            }*/
            #langText{
                padding-top:0px;
                padding-bottom: 0px;
                border:1px solid rgba(255,255,255,0.4);
                background-color: $navBackground;
                &:active,&:focus{
                    box-shadow:none;
                }
            }
            #langMenu{
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                min-width:0;
                background-color: rgba(0,0,0,0.6);
                .langItem{
                    color:white;
                    font-size: 0.8em;
                    margin-left:auto;
                    margin-right:auto;
                    width:100px;
                    &:hover{
                        color:rgba(255,255,255,0.8);
                        background-color: $navBackground;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(md){
    /*#nav{
    position:absolute;
    top:0;
    width:100%;
    border:2px solid red;
    }*/
    #navLinks{
        height:100vh;
        padding-top:3em;
        .dropdown{
            padding-left:3em;
            padding-right:3em;
            .dropText{
                width:100%;
                text-align: left;
                background-color:$navBackground;
                border-radius: 0;
                border-top:none;
                border-right:none;
                border-left: none;
                border-bottom:2px solid rgba(255,255,255,0.3);
                //border-bottom:2px solid black;
                //border:2px solid white;
                color:white;
                &:hover{color:$textHover}
                &:active .navIcon{
                    box-shadow: none;
                    transform:rotate(180deg)
                }
                .navIcon{
                    position: absolute;
                    right:5em;
                    //transition:all 0.1s;
                }
            }
            .dropMenu{
                background-color: $navTogBackground;
                border:none;
                padding-top: 0;
                padding-bottom: 0;
                /*&:focus>.item{
                    border:2px solid red;
                }*/
                .item{
                    font-size:0.8em;
                    color:white;
                    border-bottom: 1px solid rgba(255,255,255,0.3);
                    &:hover{
                        background-color: $navTogBackground;
                        color:$textHover;
                    }
                }
            }
        }
        #langDrop{
            text-align: center;
            margin-top:1em;
            #langText{
                padding-top:0px;
                padding-bottom: 0px;
                background-color: $navTogBackground;
                border:1px solid rgba(255,255,255,0.4);
            }
            #langText:focus{box-shadow: none}
            #langMenu{
                padding-top: 0;
                padding-bottom: 0;
                border:none;
                background-color: $navTogBackground;
                .langItem{
                    width:6em;
                    padding:0;
                    text-align: center;
                    margin-right:auto;
                    margin-left:auto;
                    font-size:0.8em;
                    color:white;
                    border:1px solid rgba(255,255,255,0.3);
                    &:hover{
                        background-color: $navTogBackground;
                        color:white;
                    }
                }
            }
        }
    } 
}
#navWrap{
    position: absolute;
    top:0;
    z-index: 2;
    width:100%;
    background-color: rgba(0, 0, 0, 0.3);
    #nav{
        //background-color:rgba(0,0,0,0.3);
        max-width:$maxWidth;
        padding:0;
        box-sizing: border-box;
        margin-right:auto;
        margin-left:auto;
        #logo{
            height:30px;
            margin-left:1em;
        }
        #toggle:active,#toggle:focus{
            outline: 0;
        }
        #toggle{border:none}
        .navbar-toggler-icon{
            display:none;
        }
        #langIcon{
            display: inline-block;
            margin-left:10px;
        }
        #bars{color:white}
        .dropText,#langText{
            font-size: 0.8em;
            //color:white;
        }
        .dropText::after,#langText::after{
            display:none
        }
        
    }
}
