@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

@include media-breakpoint-up(lg){
    #nodesList{
        #title{
            font-size:2.6em;
        }
        #image{
            width:800px;
        }
        #listWrap{
            max-width:$maxWidth;
            #nodeTab{
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .tab{
                    width:10em;
                }
            }
            .node{
                display: flex;
                flex-direction: row;
                max-width:43em;
                .detail{
                    display: grid;
                    grid-template-rows: auto auto auto;
                    grid-template-columns: auto auto;
                    grid-template-areas: 
                        "nodeName nodeName"
                        "des des"
                        "address ont";
                    .ont{
                        text-align: right;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(md){
    #nodesList{
        #image{
            width:600px;
        }
        #listWrap{
            max-width:700px;
            #nodeTab{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .tab{
                    width:100%;
                }
            }
            .node{
                display: flex;
                flex-direction: column;
                max-width:43em;
                .detail{
                    display: grid;
                    grid-template-rows: auto auto auto auto;
                    grid-template-columns: auto;
                    grid-template-areas: 
                        "nodeName"
                        "des "
                        "address"
                        "ont";
                }
            }
        }
    }
}
@include media-breakpoint-down(sm){
    #nodesList{
        #title{
            font-size:1.6em;
        }
        #image{
            width:400px;
        }
        #listWrap{
            max-width:350px;
            .node{
                .detail{
                    .address{
                        margin-top: 1em;
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(xs){
    #nodesList{
        #image{
            width:90%;
        }
        #listWrap{
            .node{
                .detail{
                    .address{
                        margin-bottom: 2.5em;
                    }
                }
            }
        }
    }
}
#nodesList{
    padding:6em 1em 0 1em;
    #title{
        color:rgb(50, 164, 190);
        text-align: center;
        margin-bottom: 1em;
    }
    #image{
        display: block;
        margin:0 auto 1em auto;
        //border:2px solid black;
    }
    #note{
        text-align: center;
        margin-bottom: 2em;
    }
    #listWrap{
        margin:0 auto 2em auto;
        //border:2px solid black;
        #nodeTab{
            //border:2px solid green;
            .tab{
                height:2.5em;
                //width:10em;
                cursor:pointer;
                margin:0 3em 0 3em;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                //border:2px solid red;
                &:hover{
                    background-color: #edf8ff;
                }
                .dot{
                    vertical-align: sub;
                    color:black;
                    font-size:2em;
                }
                .tabText{
                    font-weight: 700;
                    color:rgb(63, 63, 63);
                    //border:2px solid red;
                }
            }
        }
        hr{
            color: rgb(210, 208, 208);
        }
        .node{
            margin:1em auto 0 auto;
            //border:2px solid purple;
            .brief{
                padding:1em 1.5em 0.5em 1.5em;
                background-color: #edf8ff;
                .nodeImage{
                    margin:0 auto 0 auto;
                    width:5em;
                    height:5em;
                    //border:2px solid black;
                    img{
                        width:100%;
                    }
                }
                .rank{
                    font-size: 1.1em;
                    color:#32a4be;
                    font-weight: bold;
                    margin:1em 0 0.2em 0;
                    text-align: center;
                    font-family: $nodeFontFamily;
                }
                .asia{
                    font-weight: 500;
                    font-size: 0.9em;
                    text-align: center;
                    font-family: $nodeFontFamily;
                }
            }
            .detail{
                padding:1em 1em 0.5em 1em;
                background-color: #f1f3f3;
                .name{
                    grid-area: nodeName;
                    font-weight: bold;
                    font-family: $nodeFontFamily;
                    //border:2px solid black;
                }
                .des{
                    grid-area: des;
                    font-size:0.8em;
                    line-height: 120%;
                    min-height: 7em;
                    font-family: $nodeFontFamily;
                    //border:2px solid black;
                }
                .address{
                    grid-area: address;
                    height:2em;
                    font-size:0.8em;
                    font-weight: bold;
                    //border:2px solid black;
                    span{
                        font-weight: normal;
                        font-size:0.7em;
                        color:#4a4a4a;
                        vertical-align: middle;
                        word-wrap:break-word;
                        word-break: break-all;
                        background-color: #d8d8d8;
                    }
                }
                .ont{
                    grid-area: ont;
                    height:2em;
                    color:#32a4be;
                    font-weight: 700;
                    font-size: 0.9em;
                    //border:2px solid black;
                }
            }
        }
    } 
}