@import "./css/sassVariable";
@import "./css/NavbarS.scss";
@import "./css/Homepage";
@import "./css/Bounty.scss";
@import "./css/Explorer.scss";
@import "./css/SubmitBounty.scss";
@import "./css/DappList.scss";
@import "./css/SubmitApp.scss";
@import "./css/TrustAnchor.scss";
@import "./css/NodesList.scss";
@import "./css/AboutUs.scss";
@import "./css/ContactUs.scss";
@import "./css/Footer.scss";
@import "./css/Test.scss";

*{
    margin:0;
    padding:0;
    font-family: SourceHanSansSC-Medium,Helvetica Neue,Helvetica,Arial,sans-serif;
    //border:3px solid purple;
}
